doctype html
html(lang='en')
 include common/head.pug
 +head("Military Base")
 body
  header
   
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    script(type='text/javascript').
        const Toast = Swal.mixin({
        showConfirmButton: true,
        timer: 2000
        })
   style
    include ../public/stylesheets/style.css

   include common/navbarlogin.pug
   +navbar(user)
   div(align="center")
    .row
     .col
      h2 WEB for USER
      h2 CCTV
      table.table(style="border:0px ")
       tbody(align="center")
        tr
         td
          p camera4
          a(href="/home/CCTV1", method = "GET")
           canvas(id="chanel4"  style="border:1px solid;width:500px;")
         td
          p camera5
          a(href="/home/CCTV2", method = "GET")
           canvas(id="chanel5" style="border:1px solid;width:500px;")
    .row
     .col
      h2 WEB CAM
      table.table(style="border:0px ")
       tbody(align="center")
        tr
         td
          p camera6
          a(href="/home/webcam1", method = "GET")
           canvas(id="chanel6" style="border:1px solid;width:500px;")
         td
          p camera7
          a(href="/home/webcam2", method = "GET")
           canvas(id="chanel7" style="border:1px solid;width:500px;") 
    .row
     .col
      
      table
       tbody(align="center")
        tr
         td
          form()
           input(name="data_email",id="data_email",type="email", placeholder="Enter your email address check")
           button(type ="submit",id="check_data" ) Check
    
     .col-md-6
      h1 EMAIL ALL
      table.table
       thead
        tr
         th(scope="col") Email
         th(scope="col") nickname
         th(scope="col") firstname
         th(scope="col") lastname
         th(scope="col") status
        tr
       tbody
        if user
         for data1 in user1
          tr
           td
            h6 #{data1.email}
           td
            h6 #{data1.username}
           td
            h6 #{data1.firstname}
           td
            h6 #{data1.lastname}
           td
            h3 online




  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.2/jsmpg.min.js")
  include common/footer.pug
  +footer()


  script(src='/ajax/checkdata.js')

  script(type="text/javascript").
   var canvas4 = document.getElementById('chanel4');
   var canvas5 = document.getElementById('chanel5');
   var canvas6 = document.getElementById('chanel6');
   var canvas7 = document.getElementById('chanel7');
   var websocket4 = new WebSocket("ws://127.0.0.1:8888");
   var websocket5 = new WebSocket("ws://127.0.0.1:8889");
   var websocket6 = new WebSocket("ws://127.0.0.1:8890");
   var websocket7 = new WebSocket("ws://127.0.0.1:8891");
   var cam2= new jsmpeg(websocket4, {canvas:canvas4, autoplay:true, loop:true});
   var cam3= new jsmpeg(websocket5, {canvas:canvas5, autoplay:true, loop:true});
   var cam4= new jsmpeg(websocket6, {canvas:canvas6, autoplay:true, loop:true});
   var cam5= new jsmpeg(websocket7, {canvas:canvas7, autoplay:true, loop:true});
   

    

