doctype html
html(lang='en')
 include ../common/head.pug
 +head("Military Base")
 body
  header


   include ../common/navbarlogin.pug
   +navbar(user)
   div(align="center")
    .row
     .col
      h2 CCTV
      table.table(style="border:0px ")
       tbody(align="center")
        tr
         td
          p camera5
          canvas(id="chanel5"  style="border:1px solid;width:1500px;")






  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.2/jsmpg.min.js")
  include ../common/footer.pug
  +footer()


  script(src='/ajax/checkdata.js')

  script(type="text/javascript").
   var canvas4 = document.getElementById('chanel4');
   var canvas5 = document.getElementById('chanel5');
   var canvas6 = document.getElementById('chanel6');
   var canvas7 = document.getElementById('chanel7');
   var websocket4 = new WebSocket("ws://127.0.0.1:8888");
   var websocket5 = new WebSocket("ws://127.0.0.1:8889");
   var websocket6 = new WebSocket("ws://127.0.0.1:8890");
   var websocket7 = new WebSocket("ws://127.0.0.1:8891");
   var cam2= new jsmpeg(websocket4, {canvas:canvas4, autoplay:true, loop:true});
   var cam3= new jsmpeg(websocket5, {canvas:canvas5, autoplay:true, loop:true});
   var cam4= new jsmpeg(websocket6, {canvas:canvas6, autoplay:true, loop:true});
   var cam5= new jsmpeg(websocket7, {canvas:canvas7, autoplay:true, loop:true});