mixin head(title)
 head
  meta(charset='utf-8')
  title=title
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
  meta(name='description', content='')
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/fontawesome-free/css/all.min.css")

  link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/icheck-bootstrap/icheck-bootstrap.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/jqvmap/jqvmap.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/dist/css/adminlte.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/daterangepicker/daterangepicker.css")

  link(rel="stylesheet" href="../AdminLTE-3.1.0-rc/plugins/summernote/summernote-bs4.min.css")